header
{
    position: relative;
    height: 100vh;
    min-height: 500px;
    width: 100%;
    background: #161415 url(../img/header-background.jpg) no-repeat top center;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    text-align: center;
    overflow: hidden;
}

#about
{

}


#portfolio {
    background: #ebeeee;
    height:100vh;
}


header ul li
{
    position: relative;
    height: 48px;
    display: inline-block;
    padding-right:1em;
}

ul
{
    list-style: none;
}

header ul
{
    font: 12px 'opensans-bold', sans-serif;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    margin: 0 auto;
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
    display: initial;
}

.responsive-headline
{

    font: 90px/1.1em 'opensans-bold', sans-serif;
    color: #fff;
    letter-spacing: -2px;
    margin: 0 auto 18px auto;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
}

.row-banner
{
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    width: 85%;
    padding-bottom: 30px;
    
}

.row-top-menu
{
    display:list-item;
}

.sub-header
{
    font: 18px/1.9em 'librebaskerville-regular', serif;
    color: #A8A8A8;
    margin: 0 auto;
    width: 70%;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
}

.container
{
    display: flex;
    align-items: center;
}

header .container
{
    height:100vh;
}

#about img
{
position: relative;
width: 149px;
    height: 150px;
border-radius: 100%;
}


#about  ul
{
    padding-left: 0 !important;
    color: #7A7A7A;
}

#about .fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#about .fa-download:before {
    content: "\f019";
}



#about .download-block img
{
    height: 30px;
    width: 50px;
}

#about .download-block
{
    font-size:20px;
}

#about .download-block .btn
{
font-size: 23px;
background: #444444;
border-color: #444444;
}

#about  p
{
    line-height: 30px;
    color: #7A7A7A;

}

#about {
    font: 20px/30px 'opensans-bold', sans-serif;
    background: #2B2B2B;
    overflow: hidden;
}

#about .download-block p
{
    color: #fff;
}

#about .download-block a
{
    display: flex;
}
@media (max-width:629px) {
    img#optionalstuff {
      display: none;
    }
  }

#about .inform span
{
    display: flex;
    word-break: break-all;
}


@media (max-width:629px) {
    #responsive-headline {
        font-size: 40px;
    }
  }

  header ul
  {
    font-size: 14px;
  }

#works
{
    background: #ebeeee;
}

#works img
{
    width:100%;
}

#works .header
{
    font: 20px/24px 'opensans-semibold', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 48px;
    color: #95A3A3;
}

#contact .icons i
{
    font-size: 40px;
}

.fab-href
{
    color: black;
}

